# Emacs backup files
*~
# Emacs file locks
.#*

# Xcode
.DS_Store
*.swp
*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3

# tell git to ignore white space differences and force merge.  That way a corrupt xcode project wont get checked in.
*.pbxproj -crlf -diff -merge
